<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navigation">

        <div class="pop-out-window">
            <ul>
                <li><a href="#">Menu Details</a></li>
                <li><a href="#">About The Chef</a></li>
                <li><a href="#">Top Dishes</a></li>
                <li><a href="#">Restaurant Details</a></li>
            </ul>
        </div>
    </nav>

    <h2>Menu Details</h2>
    <p>menu details from db</p>

    <h2>About Chef</h2>
    <p>about the chef</p>

    <h2>Top Dishes</h2>
    <img src="#">
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
        <li>item 5</li>
    </ul>

    <h2>Restaurant Details</h2>
    <p>Name</p>
    <p>address</p>
    <p>phone number</p>
    <p>website</p>

</body>

</html>