<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie</title>
</head>

<body>
    <h1>Your Liked Restaurants</h1>






    <li><%= faves%></li>

    <button>remove</button>


</body>

</html>