<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form class="form-signin" action="/login" method="post">

        <h2 class="form-signin-heading">Welcome sign in</h2>

        <label for="inputName" class="sr-only">First Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="">
        <label for="inputName" class="sr-only">Last Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="">
        <label for="inputName" class="sr-only">Username</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</body>

</html>