<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="footer">
        <h6> Created and Engineered by the Following Application Developers: </h6>

        <a href="https://github.com/jelissa2007" target="_blank" rel="noopener noreferrer">Jelissa W.</a>
        <a href="https://github.com/myrriame" target="_blank" rel="noopener noreferrer">Myrriame D.</a>
        <a href="https://github.com/csolis1" target="_blank" rel="noopener noreferrer">Celida S.</a>

    </div>
</body>

</html>