<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Niconne" />
    <script src="/js/app.js"></script>
</head>

<body>

    <h1>Foodie</h1>


    <div>

        <a href="#"><img src="#"></a>

        <h2>restaurant name</h2>

        <span>cuisine type/price point</span>

        <br>
        <br>
        <button id="dislike" class="fa fa-close"></i></button><span style="display:inline-block; width: 20px;"></span>
        <button id="like"><i class="fa fa-heart"></i></button>

    </div>
    <br>
    <br>
    <br>
    <button id="favorites">Access Your Favorites!</button>
    <div class="container" id="blur">
        <div class="content">
            <h2>Resturant Goes HERE</h2>
            <a href="#" onclick="toggle()">CLICK HERE FOR FOODIE DETAILS</a>
        </div>
    </div>
    <div id="popup">
        <h2>Resturant Details Pop Out Here</h2>

        <a href="#" onclick="toggle()">CLOSE POPOUT</a>

    </div>



</body>

</html>