<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="css/styles.css">
    <script src="/js/app.js"></script>
    <!-- font awesome -->
    <script src="https://use.fontawesome.com/2fe46feff2.js"></script>
    <!-- font awesome -->
</head>

<body>
    <div id="app-box">
        <button id="favorites">Access Your Favorites!</button>
        <h1> Foodie: Tinder but with Food!</h1>

        <div>

            <a href="dc-fullstack-project/views/foodie/details.ejs"><img src="#"></a>

            <h2>restuarant name</h2>

            <span>cuisine type/price point</span><br>

            <button id="dislike"><i class="fa fa-times" aria-hidden="true"></i></button> <button id="like"><i
                    class="fa fa-heart" aria-hidden="true"></i></button>

        </div>

    </div>
</body>

</html>