<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Niconne" />
    <link rel="stylesheet" href="css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <h1>Foodie</h1>

    <div class="container-fluid">
        <div class="row" id="foodie_app">
      
          <section class="col-12" id="foodie_header_bar">
            <div class="row">
              <div class="col-2">
                <i class="fa fa-chevron-left"></i>
              </div>
              <div class="col-10" id="foodie_page_title">
                Filters
              </div>
            </div>
          </section>
      
          <section class="col-12" id="foodie_price_body">
            <div>
              <span class="heading">
                By Price
              </span>
              <div class="row">
                <div class="col-4">
                  <button class="price_button" type="button">&dollar;</button>
                </div>
                <div class="col-4">
                  <button class="price_button"type="button">&dollar;&dollar;</button>
                </div>
                <div class="col-4">
                  <button class="price_button" type="button">&dollar;&dollar;&dollar;</button>
                </div>
              </div>
          </section>

          <div class="dropdown">
            <span class="heading">
                By Cuisine
              </span>
            <button onclick="myFunction()" class="dropbtn">Cuisine Type</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
              <a href="#latin">Latin</a>
              <a href="#caribbean">Caribbean</a>
              <a href="#vegan">Vegan</a>
              <a href="#vegitarian">Vegetarian</a>
              <a href="#asian">Asian</a>
              <a href="#vietnamese">Vietnamese</a>
              <a href="#japanese">Japanese</a>
              <a href="#cajun">Cajun</a>
              <a href="#soulfood">Soul Food</a>
              <a href="#southern">Southern</a>
              <a href="#breakfast">Breakfast</a>
              <a href="#brunch">Brunch</a>
              <a href="#mexican">Mexican</a>
              <a href="#african">African</a>
              <a href="#mediterranean">Mediterranean</a>
              <a href="#bar">Bar</a>
              <a href="#casual">Casual</a>
              <a href="#fusion">Fusion</a>
              <a href="#seafood">Seafood</a>
              <a href="#american">American</a>
              <a href="#bbq">BBQ</a>
              <a href="#cafe">Cafe</a>
              <a href="#bakery">Bakery</a>
              <a href="#french">French</a>
              <a href="#italian">Italian</a>
            </div>
        </div>
    </div>
    </div>
    
    <div>
        <div class="container" id="blur">
            <div class="content">

                <a href="#" onclick="toggle()"><img src="#"></a>

                <h2>restaurant.name</h2>

                <span>restaurants.cuisine_type/ restaurants.price_range</span>

                <br>
                <br>
                <button id="dislike" class="fa fa-close"></i></button><span
                    style="display:inline-block; width: 20px;"></span>
                <button id="like"><i class="fa fa-heart"></i></button>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <button id="favorites">Access Your Favorites!</button>


    <div id="popup">
        <ul>
            <li><a href="#menu" class="pop_up">Menu Details</a></li>
            <li><a href="#chef" class="pop_up">About The Chef</a></li>
            <li><a href="#dishes" class="pop_up">Top Dishes</a></li>
            <li><a href="#details" class="pop_up">Restaurant Details</a></li>
        </ul>

        </nav>
        <div id="menu">
            <h2>Menu Details</h2>
            <img src="menu_photo.menu_photo">
        </div>
        <div id="chef">
            <h2>About Chef</h2>
            <img src="chef.chef_photo_id">
            <p>chef.first_name chef.last_name </p>
            <p>chef.background</p>
        </div>
        <div id="dishes">
            <h2>Top Dishes</h2>
            <img src="#">
            <ul>
                <li> menu.popular_dish </li>
            </ul>
        </div>
        <div id="details">
            <h2>Restaurant Details</h2>
            <p> restaurant.name </p>
            <p> restaurant.address </p>
            <p> restaurant.phone_number </p>
            <p> restaurant.hours </p>
            <p> restaurant.website </p>
        </div>

        <a href="#" onclick="toggle()">CLOSE POPOUT</a>
    </div>
    </div>





</body>

</html>