<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <h1> Foodie: Tinder but with Food!</h1>

    <div>

        <img src="#">

        <h2>restuarant name</h2>

        <span>cuisine type/price point</span>

        <button id="dislike">dislike</button> <button id="like">like</button>

    </div>


</body>

</html>