body{
	background-color: whitesmoke;
  }
  
  h1{
	  margin-top: 0;
	  margin-bottom: 20;
	  font-size: 13rem;
	  text-align: center;
	  height:50vh;
	  line-height: 50vh;
	  color: #fcedd8;
	  background: #d52e3f;
	  font-family: 'Niconne', cursive;
	  font-weight: 700;
	  text-shadow: 5px 5px 0px #eb452b, 
				  10px 10px 0px #efa032, 
				  15px 15px 0px #46b59b, 
				  20px 20px 0px #017e7f, 
				  25px 25px 0px #052939, 
				  30px 30px 0px #c11a2b, 
				  35px 35px 0px #c11a2b, 
				  40px 40px 0px #c11a2b, 
				  45px 45px 0px #c11a2b;
  }
  
  
  #dislike {
	background-color:#052939;
	border: none;
	color: white;
	padding: 12px 16px;
	border-radius: 50%;
	font-size: 16px;
	cursor: pointer;
  }
  
  #dislike:hover {
	background-color: #008CBA;
	color: white;
  }
  
  #like {
	background-color: #d52e3f;
	border: none;
	color: white;
	padding: 12px 16px;
	border-radius: 55%;
	font-size: 16px;
	cursor: pointer;
  
  }
  
  #like:hover {
	background-color: #Fc84b4;
	color: white;
  }


/* sign-up portion */
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 20%;
}

form{
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.submit-button {
	border-radius: 20px;
	border: 1px solid #000000;
	background-color: #7fb97f;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
cursor: pointer;
}

/* pop out */
#pop-out{
	position: fixed;
	top:40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	padding: 50px;
	box-shadow: 0 5px 30px rgba(0,0,0,.40);
	background-color: white;
}